/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  cursor: default;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(31, 44, 63);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 81, 113);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #041029;
}
